<h1>About</h1>
<p>
	Keep In Contact allows people who know you access to each other.  Cellphone numbers and email addresses are not published.  So, when you need to, how will you Keep In Contact?
	</p>

	<p>
	How does it work?
	</p>

	<p>
	We have made it very simple for you.  First you sign up for an account and sign in.
	</p>

	<p>
	Next, edit your profile and provide some information about yourself.  Create a screen name, add aphoto or avatar, and fill in some basic infomation about yourself.  These things will allow others to find your profile.
	</p>

	<p>
	Then you fill in the contact information for people important to you.  Just add a name, desciption, email, and or phone number for each contact.
	</p>

	<p>
	Once you have your contacts filled out, you will want to search for people you know.  
	</p>

	<p>
	Last, ask your friends and family to Keep In Contact with you.  Once they accept your request you can see their contacts and they can see yours.  
	</p>

	<p>
	Why?
	</p>

	<p>
	If you get hurt, would your family be able to contact your friends?  If your sister wanted to plan a surprise party for you, could she without asking you?  Keep In Contact allows you to grab dinner with your friend's brother when you travel for work.  Or, your girlfriend is sleeping, it is freezing outside, and  you lock yourself out of her place in a pair of shorts.  Her neighbors have a spare key, how will you contact them?
	</p>

	<p>
	Cellphone numbers and email addresses are not published.  So, when you need to, how will you Keep In Contact?
</p>